.xerocodee-ai-child {
  position: absolute;
  top: 591px;
  left: 0;
  width: 1725px;
  height: 1027px;
}
.z-2101w020n001946bp15-1-icon {
  position: absolute;
  top: 672px;
  left: 62px;
  width: 1605px;
  height: 619px;
  object-fit: cover;
}
.code-doctor,
.integrate-ai-throughout {
  position: absolute;
  letter-spacing: 0.02em;
  text-align: left;
}
.integrate-ai-throughout {
  top: 203px;
  left: 271px;
  font-size: 60px;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    #ff3bff,
    #ecbfbf 38.02%,
    #5c24ff 75.83%,
    #d94fd5
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.code-doctor {
  top: 319px;
  left: 656px;
  font-size: 70px;
  font-family: var(--font-abeezee);
}
.make-processes-where {
  position: absolute;
  top: 445px;
  left: 503px;
  letter-spacing: 0.72px;
  line-height: 33px;
  display: inline-block;
  width: 723px;
}
.cta-formgroup {
  width: 452px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 586px;
  left: 585px;
}
.logo-1-icon,
.xerocodee-ai-item {
  width: 126px;
  position: absolute;
  top: 586px;
  left: 1050px;
}
.logo-1-icon {
  top: 44px;
  left: 33px;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.xerocodee-ai-inner {
  width: 174px;
  position: absolute;
  top: 59px;
  left: 1493px;
}
.duotonestack-icon {
  position: relative;
  width: 55.44px;
  height: 55.79px;
}
.h4-tailoring-posts {
  position: relative;
  line-height: 28px;
  display: flex;
  align-items: center;
  width: 412px;
}
.benefits-info,
.benefits-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.benefits-info {
  text-decoration: none;
  flex-direction: column;
  color: inherit;
}
.benefits-item {
  flex-direction: row;
  gap: var(--gap-xl);
}
.devider {
  position: relative;
  border-top: 1px solid var(--light-100);
  box-sizing: border-box;
  width: 473px;
  height: 1px;
  opacity: 0.12;
}
.benefits-list-wrapper {
  border-radius: var(--br-base);
  background-color: var(--color-gray);
  display: flex;
  flex-direction: column;
  padding: var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.benefits-list,
.benefits-list-wrapper1 {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--light-100);
  font-family: var(--font-urbanist);
}
.benefits-list {
  position: absolute;
  top: 1890px;
  left: 62px;
  width: 600px;
  height: 296px;
  align-items: center;
  justify-content: center;
}
.benefits-list-wrapper1 {
  border-radius: var(--br-base);
  background-color: var(--color-gray);
  padding: var(--padding-13xl);
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.benefits-list1 {
  position: absolute;
  top: 2427px;
  left: 1067px;
  width: 600px;
  height: 296px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.h2-heading-style-h2 {
  align-self: stretch;
  position: relative;
  line-height: 110%;
  font-weight: 600;
  background: linear-gradient(90.01deg, #4e4be4 1.04%, #e862fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-content-header,
.p-text-size-medium {
  position: absolute;
  left: 224px;
  font-family: var(--font-urbanist);
  width: 1280px;
}
.header-content-header {
  top: 1538px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-37xl);
}
.p-text-size-medium {
  top: 1662px;
  font-size: 32px;
  line-height: 160%;
  font-weight: 500;
  display: inline-block;
}
.automate-all-aspects {
  margin: 0;
}
.automate-all-aspects-container {
  position: absolute;
  top: 4170px;
  left: 207px;
  font-size: 52px;
  letter-spacing: 0.02em;
  font-weight: 600;
  background: linear-gradient(
    90deg,
    #ff3bff,
    #ecbfbf 38.02%,
    #5c24ff 75.83%,
    #d94fd5
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.copyright-2023-container,
.get-early-access {
  position: absolute;
  top: 4355px;
  left: 485.5px;
  letter-spacing: 0.72px;
  line-height: 33px;
  display: inline-block;
  width: 723px;
}
.copyright-2023-container {
  margin: 0;
  top: 4600px;
  left: 420px;
  font-size: inherit;
  width: 888px;
  font-family: inherit;
}
.cta-formgroup1 {
  width: 419.5px;
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 4421px;
  left: 612.5px;
}
.frame-button,
.line-div {
  width: 126px;
  position: absolute;
  top: 4421px;
  left: 1048px;
}
.line-div {
  top: 161.5px;
  left: -0.5px;
  border-top: 1px solid #e4e4e4;
  box-sizing: border-box;
  width: 1729px;
  height: 1px;
}
.h2-heading-style-h21 {
  position: relative;
  line-height: 110%;
  display: inline-block;
  background: linear-gradient(90.01deg, #4e4be4 1.04%, #e862fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 1280px;
}
.header {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  padding: 40px 0;
  align-items: center;
  justify-content: center;
}
.h3-heading-style-h3 {
  position: relative;
  line-height: 110%;
  background: linear-gradient(90.01deg, #4e4be4 1.04%, #e862fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 618px;
}
.to-assist-with {
  margin: 0;
}
.deployment-process-ask,
.to-assist-with {
  line-height: 30px;
}
.span {
  font-size: 30px;
  letter-spacing: 0.1em;
  line-height: 35px;
  font-weight: 500;
  font-family: var(--font-urbanist);
}
.p-lorem-ipsum-dolor-container {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xl);
}
.h3-heading-style-h3-parent {
  height: 133.12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.comming-soon {
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
  transform: rotate(-0.16deg);
  transform-origin: 0 0;
}
.button,
.column,
.frame-parent {
  display: flex;
  justify-content: flex-start;
}
.button {
  border-radius: var(--br-11xl);
  background-color: var(--color-mediumslateblue);
  box-shadow: var(--medium-blue);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-mini) var(--padding-11xl);
  align-items: center;
  font-size: var(--font-size-base);
}
.column,
.frame-parent {
  flex-direction: column;
}
.frame-parent {
  border-radius: var(--br-21xl);
  padding: var(--padding-41xl) var(--padding-13xl);
  align-items: flex-start;
  gap: var(--gap-101xl);
  background-image: url(/public/frame-1951@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: left;
  font-size: var(--font-size-35xl);
  color: var(--light-100);
  font-family: var(--font-urbanist);
}
.column {
  flex: 1;
  padding: var(--padding-5xl);
  align-items: flex-end;
}
.h3-heading-style-h31 {
  position: relative;
  line-height: 110%;
  background: linear-gradient(90.01deg, #4e4be4 1.04%, #e862fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 312.77px;
}
.p-lorem-ipsum-dolor-container1 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-3xl);
  line-height: 30px;
}
.comming-soon1 {
  position: relative;
  line-height: 24px;
  text-transform: uppercase;
}
.frame-group {
  border-radius: var(--br-21xl);
  flex-direction: column;
  padding: var(--padding-41xl) var(--padding-13xl);
  gap: var(--gap-101xl);
  background-image: url(/public/frame-19511@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.column1,
.columns,
.frame-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.column1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-5xl);
  text-align: left;
  font-size: var(--font-size-35xl);
  color: var(--light-100);
  font-family: var(--font-urbanist);
}
.columns {
  align-self: stretch;
  flex-direction: row;
  gap: 24px;
}
.h3-heading-style-h32 {
  position: relative;
  line-height: 40px;
  font-weight: 600;
  background: linear-gradient(90deg, #4f4ce5, #e863fe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  width: 697.62px;
}
.column-inner {
  border-radius: var(--br-21xl);
  width: 979px;
  height: 371px;
  padding: var(--padding-41xl) var(--padding-13xl);
  box-sizing: border-box;
  align-items: flex-start;
  background-image: url(/public/frame-19512@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.column-inner,
.column2,
.container,
.grid-2-x-2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.column2 {
  align-self: stretch;
  align-items: center;
}
.container,
.grid-2-x-2 {
  align-items: flex-start;
  font-family: var(--font-urbanist);
}
.grid-2-x-2 {
  align-self: stretch;
  padding: var(--padding-13xl) 0;
  gap: 40px;
  text-align: left;
  font-size: 42px;
  color: var(--light-100);
}
.container {
  position: absolute;
  top: 2857px;
  left: 144px;
  width: 1429px;
  padding: var(--padding-5xl);
  box-sizing: border-box;
  font-size: var(--font-size-37xl);
}
.xerocodee-ai {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 4666px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-10xl);
  color: var(--light-100);
  font-family: var(--font-open-sans);
}
